@import url(../varabiles.css);
@import url(../stdClasses.css);
@import url(../componentsStyle/header.css);
@import url(../author-card/author-card-style.css);
@import url(../card/card-style.css);
@import url(../componentsStyle/footer.css);

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .author-card{
    margin: 1em 1em 1em 1em ;
}