@import url(../varabiles.css);
@import url(../stdClasses.css);
@import url(../componentsStyle/header.css);
@import url(../componentsStyle/card.css);
@import url(../componentsStyle/shortNewsCard.css);
@import url(../componentsStyle/footer.css);
@import url(../componentsStyle/paperBaner.css);
@import url(../componentsStyle/categoryPageTitle.css);
@import url(../componentsStyle/getMoreBtn.css);


.row .paperBaner{
    width: 66%;
}

.row .paperBaner h3 , .row .paperBaner p{
    display: none;
}
.row .shortNewsCard{
    width: 32%;
}

.row .card{
    width: 32%;
}


@media only screen and (max-width: 768px){
    .catalogueBar{
        display: none;
    }

    main, .row .shortNewsCard{
        margin-top: 2em;
    }

    main .container , .row{
        display: block;
    }
    .container{
        width: 90%;
    }
    .row .paperBaner, .row .shortNewsCard , .row .card{
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        width: 90%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}