@import url(../varabiles.css);
@import url(../stdClasses.css);
@import url(../componentsStyle/header.css);
@import url(../componentsStyle/card.css);
@import url(../componentsStyle/footer.css);

main h2{
    margin: 1em 0 1em 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.row .card{
    width: 32%;
}


@media only screen and (max-width: 768px){
    main .row{
        display: block;
    }
    .row .card{
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        width: 90%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}