@import url(../varabiles.css);
@import url(../stdClasses.css);
@import url(../componentsStyle/header.css);
@import url(../componentsStyle/banner.css);
@import url(../componentsStyle/card.css);
@import url(../componentsStyle/shortNewsCard.css);
@import url(../componentsStyle/footer.css);


.sections{
    width: 32%;
}

main .shortNewsCard{
    margin-top: 2em;
}

@media only screen and (max-width: 768px){
    main .container{
        display: block;
    }
    .sections{
        width: 100%;
    }
    .sections~.sections{
        margin-top: 1em;
    }
  
    .shortNewsCard{
        margin-top: 1em;
    }

    header .navBar ul a {
        margin: 2em;
    }

}

@media only screen and (max-width: 1200px){
    .container{
        width: 90%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}