@import url(../varabiles.css);
@import url(../stdClasses.css);
@import url(../componentsStyle/header.css);
@import url(../componentsStyle/paper.css);
@import url(../componentsStyle/shortNewsCard.css);
@import url(../componentsStyle/footer.css);

.row .paper{
    width: 58%;
}

.row .shortNewsCard{
    width: 40%;
}

@media only screen and (max-width: 768px){
    main .row{
        display: block;
    }
    .row .paper , .row .shortNewsCard{
        width: 100%;
    }

    .row .shortNewsCard{
        margin-top: 1em;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        width: 90%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}