@import url(../varabiles.css);

.paperBaner{
    width: 850px;
    height: 544px;
    background-image: url('https://c.files.bbci.co.uk/4B45/production/_117796291_gettyimages-962098266.jpg');
    /* background: linear-gradient(72.25deg, #FFFFFF 0%, #EDEDED 100%); */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.paperBaner img{
    position: relative;
    width: 100%;
    height: 544px;
}

.paperBaner h3{
    width: 760px;
    font-size: 22px;
    font-weight: 700; 
}

.paperBaner p{
 width: 90%;
 font-weight: 300;
}


.paperBaner p a{
    display: none;
}